@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
}

html,
body {
    background-color: #121212;
    color: #e0e0e0;
    font-size: 16px;
    line-height: 1.5;
}
